FolderSynchMUIClient/Service References/FolderSynchService/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicesProject" />
  <xs:element name="RegisterNewUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterNewUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServicesProject" minOccurs="0" name="RegisterNewUserResult" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServicesProject" minOccurs="0" name="loginUserResult" nillable="true" type="q2:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="logoutUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServicesProject" minOccurs="0" name="user" nillable="true" type="q3:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="logoutUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewSynchronizedFolder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServicesProject" minOccurs="0" name="folderName" nillable="true" type="q4:Folder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewSynchronizedFolderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="beginUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="baseFolder" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timestamp" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="beginUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServicesProject" minOccurs="0" name="beginUpdateResult" nillable="true" type="q5:UpdateTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="uploadFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transactionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="baseFolder" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="localPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="uploadFileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addSubDirectory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transactionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="baseFolder" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="localPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSubDirectoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCommit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServicesProject" minOccurs="0" name="transaction" nillable="true" type="q6:UpdateTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCommitResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getFileHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="baseFolder" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="localPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFileHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ServicesProject" minOccurs="0" name="getFileHistoryResult" nillable="true" type="q7:ArrayOfUpdate.UpdateEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="baseFolder" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ServicesProject" minOccurs="0" name="getHistoryResult" nillable="true" type="q8:ArrayOfUpdate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="downloadFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="baseFolder" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="localPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="updateNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="downloadFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="downloadFileResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>