FolderSynchMUIClient/Service References/FolderSynchService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicesProject" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicesProject" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Folders" nillable="true" type="tns:ArrayOfFolder" />
      <xs:element minOccurs="0" name="Installations" nillable="true" type="tns:ArrayOfInstallation" />
      <xs:element minOccurs="0" name="LastAccessDevice" nillable="true" type="tns:Installation" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfFolder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Folder" nillable="true" type="tns:Folder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFolder" nillable="true" type="tns:ArrayOfFolder" />
  <xs:complexType name="Folder">
    <xs:sequence>
      <xs:element minOccurs="0" name="AutoDeleteTime" type="xs:int" />
      <xs:element minOccurs="0" name="AutoRefreshTime" type="xs:int" />
      <xs:element minOccurs="0" name="FolderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SynchDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Folder" nillable="true" type="tns:Folder" />
  <xs:complexType name="ArrayOfInstallation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Installation" nillable="true" type="tns:Installation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInstallation" nillable="true" type="tns:ArrayOfInstallation" />
  <xs:complexType name="Installation">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Installation" nillable="true" type="tns:Installation" />
  <xs:complexType name="RegistrationFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MyBaseFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RegistrationFault" nillable="true" type="tns:RegistrationFault" />
  <xs:complexType name="MyBaseFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyBaseFault" nillable="true" type="tns:MyBaseFault" />
  <xs:complexType name="LoginFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MyBaseFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LoginFault" nillable="true" type="tns:LoginFault" />
  <xs:complexType name="UpdateTransaction">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Transaction">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateTransaction" nillable="true" type="tns:UpdateTransaction" />
  <xs:complexType name="Transaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaseFolder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TransactionID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Transaction" nillable="true" type="tns:Transaction" />
  <xs:complexType name="Update">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaseFolder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TransactionID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateEntries" nillable="true" type="tns:ArrayOfUpdate.UpdateEntry" />
      <xs:element minOccurs="0" name="UpdateFolder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Update" nillable="true" type="tns:Update" />
  <xs:complexType name="ArrayOfUpdate.UpdateEntry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Update.UpdateEntry" nillable="true" type="tns:Update.UpdateEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUpdate.UpdateEntry" nillable="true" type="tns:ArrayOfUpdate.UpdateEntry" />
  <xs:complexType name="Update.UpdateEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="EntryTimestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ItemDimension" type="xs:long" />
      <xs:element minOccurs="0" name="ItemLocalPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateNumber" type="xs:int" />
      <xs:element minOccurs="0" name="UpdateType" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Update.UpdateEntry" nillable="true" type="tns:Update.UpdateEntry" />
  <xs:complexType name="ArrayOfUpdate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Update" nillable="true" type="tns:Update" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUpdate" nillable="true" type="tns:ArrayOfUpdate" />
  <xs:complexType name="RollbackTransaction">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Transaction">
        <xs:sequence>
          <xs:element minOccurs="0" name="UpdateNumber" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RollbackTransaction" nillable="true" type="tns:RollbackTransaction" />
</xs:schema>