FolderSynchMUIClient/Service References/StreamedTransferService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8081/?xsd=xsd0" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="FileStreamMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="data" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="baseFolder" nillable="true" type="xs:string" />
  <xs:element name="localPath" nillable="true" type="xs:string" />
  <xs:element name="transactionID" nillable="true" type="xs:string" />
  <xs:element name="updateType" type="xs:int" />
  <xs:element name="username" nillable="true" type="xs:string" />
  <xs:element name="downloadFileStreamed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="baseFolder" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="localPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="updateNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="downloadFileStreamedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/Message" name="downloadFileStreamedResult" type="q2:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="heartBeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="heartBeatResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>