FolderSynchMUIClient/Service References/StreamedTransferService/StreamedTransferImplementation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StreamedTransferImplementation" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="serviceStreamEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd1" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd0" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FileStreamMessage">
    <wsdl:part name="parameters" element="tns:FileStreamMessage" />
  </wsdl:message>
  <wsdl:message name="FileStreamMessage_Headers">
    <wsdl:part name="baseFolder" element="tns:baseFolder" />
    <wsdl:part name="localPath" element="tns:localPath" />
    <wsdl:part name="transactionID" element="tns:transactionID" />
    <wsdl:part name="username" element="tns:username" />
  </wsdl:message>
  <wsdl:message name="StreamedTransferContract_uploadFileStreamed_OutputMessage" />
  <wsdl:message name="StreamedTransferContract_downloadFileStreamed_InputMessage">
    <wsdl:part name="parameters" element="tns:downloadFileStreamed" />
  </wsdl:message>
  <wsdl:message name="StreamedTransferContract_downloadFileStreamed_OutputMessage">
    <wsdl:part name="parameters" element="tns:downloadFileStreamedResponse" />
  </wsdl:message>
  <wsdl:portType name="StreamedTransferContract">
    <wsdl:operation name="uploadFileStreamed">
      <wsdl:input wsaw:Action="http://tempuri.org/StreamedTransferContract/uploadFileStreamed" name="FileStreamMessage" message="tns:FileStreamMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/StreamedTransferContract/uploadFileStreamedResponse" message="tns:StreamedTransferContract_uploadFileStreamed_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="downloadFileStreamed">
      <wsdl:input wsaw:Action="http://tempuri.org/StreamedTransferContract/downloadFileStreamed" message="tns:StreamedTransferContract_downloadFileStreamed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/StreamedTransferContract/downloadFileStreamedResponse" message="tns:StreamedTransferContract_downloadFileStreamed_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="serviceStreamEndpoint" type="tns:StreamedTransferContract">
    <wsp:PolicyReference URI="#serviceStreamEndpoint_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="uploadFileStreamed">
      <soap12:operation soapAction="http://tempuri.org/StreamedTransferContract/uploadFileStreamed" style="document" />
      <wsdl:input name="FileStreamMessage">
        <soap12:header message="tns:FileStreamMessage_Headers" part="baseFolder" use="literal" />
        <soap12:header message="tns:FileStreamMessage_Headers" part="localPath" use="literal" />
        <soap12:header message="tns:FileStreamMessage_Headers" part="transactionID" use="literal" />
        <soap12:header message="tns:FileStreamMessage_Headers" part="username" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadFileStreamed">
      <soap12:operation soapAction="http://tempuri.org/StreamedTransferContract/downloadFileStreamed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StreamedTransferImplementation">
    <wsdl:port name="serviceStreamEndpoint" binding="tns:serviceStreamEndpoint">
      <soap12:address location="net.tcp://localhost:8091/StreamedTransferService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8091/StreamedTransferService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>